nav > ul > li {
    list-style-type: none;
    display: inline-block;
    font-size: 2em;
    margin-right: 15px;
}

.image {
    width: 30%;
    display: inline-block;
}

.image > img {
    width: 100%;
}

.desc {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.contact {
    padding: 10px 0px 0px 40px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.bicycle {
    outline: 1px solid black;
    padding: 10px;
    margin-bottom: 50px;
}